pkgbase = uu-amf-bridge-git
	pkgdesc = AMF, DXVA11, and Wayland capture bridge for UU Remote under Wine on AMD GPUs
	pkgver = r1.e2d5e24
	pkgrel = 1
	url = https://github.com/wuxiaoweisjz/driver-uu-remote
	install = uu-amf-bridge.install
	arch = x86_64
	license = MIT
	license = Zlib
	makedepends = git
	makedepends = pkgconf
	depends = bash
	depends = curl
	depends = ffmpeg
	depends = libarchive
	depends = systemd
	depends = uuyc-wine
	depends = vulkan-radeon
	depends = wine
	depends = xorg-server-xvfb
	depends = qt6-base
	depends = pipewire
	depends = gst-plugin-pipewire
	depends = gst-plugins-base-libs
	depends = libei
	depends = xdg-desktop-portal
	optdepends = kwin: Plasma desktop for the dedicated X11 session
	optdepends = plasma-workspace: Plasma shell for the dedicated X11 session
	optdepends = xdg-desktop-portal-kde: KDE screen sharing portal for Wayland capture
	provides = uu-amf-bridge
	conflicts = uu-amf-bridge
	source = uu-amf-bridge-git::git+https://github.com/wuxiaoweisjz/driver-uu-remote.git
	source = dxvk-3.0.2.tar.gz::https://github.com/doitsujin/dxvk/releases/download/v3.0.2/dxvk-3.0.2.tar.gz
	sha256sums = SKIP
	sha256sums = 9c538924110a7cdef871ca36dee218c0774124374ffdeb38af4b76be55bdf7c2

pkgname = uu-amf-bridge-git
